* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.main-container {


    height: max(100vh, 559px);
    width: 100%;
    background-color: burlywood;
    background-image: url('./Hangman_background.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;


    .cover {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        padding: 0px 0px;
        height: 240px;
        background-color: #dff8ff17;
        z-index: 5;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 22px;
        border-radius: 12px;
        border: 1.5px solid white;

        .paragraph {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;
            width: 92%;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            text-shadow: 1px 0px 1px whitesmoke;

            .d2-img {
                height: 60px;
                width: 60px;
            }
        }





        .staratBttn {
            pointer-events: visible;
            background-color: rgb(30, 29, 29);
            color: white;
            padding: 10px 18px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            border-radius: 22px;
        }

        .staratBttn:hover {
            transform: scale(1.03);
        }

        .staratBttn:active {
            color: #3ba801;
            transform: scale(1.01);


        }



        .warning {
            width: 90%;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            text-shadow: 1px 0px 1px whitesmoke;
        }
    }

    .cover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, 0.2);
        /* Translucent white overlay */
        backdrop-filter: blur(10px);
    }

    .disabled {
        display: none;
    }

    .cloudBox {
        position: absolute;
        top: 0;
        left: 0;
        height: 35%;
        width: 100%;
        z-index: 2;
        pointer-events: none;
        animation: floatLeft 25s linear infinite;

        .cloudsImage {
            height: 100%;
            width: 100%;
            object-fit: fill;
            object-position: center;

        }
    }

    .trees-box {
        /* display: none; */
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3;
        width: 100%;
        pointer-events: none;
        /* border: 1px solid black; */

        .treespic {
            object-fit: fill;
            height: 100%;
            width: 100%;
            object-position: center;
        }
    }

    .trailsBox {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 4;
        top: 80%;
        padding: 4px;
        /* width: 40px; */
        left: 10%;
        /* border: 1px solid white; */
        color: #cda781;
        font-size: 16px;
        font-weight: 700;

        .incrementDecrement {
            display: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            font-size: 24px;
            font-weight: bold;
            color: #4ecc71;
            pointer-events: none;
            animation: floatUpAndFade 2s ease-out forwards;
        }
    }

    .gif1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 84%;
        left: 84%;
        background-color: transparent;
        z-index: 3;


        .gif1-sparrow {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .gif2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 67%;
        left: 43%;

        background-color: transparent;
        /* border: 1px solid black; */
        z-index: 3;


        .gif2-deer {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .notification {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 6px;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 10%;
        left: 50%;
        padding: 12px;
        background-color: #dff8ff52;
        z-index: 5;
        padding: 22px;
        border-radius: 12px;
        border: 1px solid white;


    }

    .notification::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, 0.2);
        /* Translucent white overlay */
        backdrop-filter: blur(10px);
    }


    .setting-box {
        height: 50px;
        width: 50px;
        pointer-events: visible;
        border-radius: 50%;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 4;
        top: 7%;
        left: 3%;
        background-color: rgb(84, 37, 238);
        box-shadow: inset 0px 0px 8px 0px white;
        cursor: pointer;

        .fa-gear {

            font-size: 24px;
            color: #eefbff;

        }
    }


    .modes-dropdown {
        position: absolute;
        pointer-events: visible;
        z-index: 4;
        top: 15.6%;
        right: 7%;
        width: 75px;
        text-align: start;
        display: inline-block;

        .modes-trigger {
            color: #492B11;
            padding: 4px 8px;
            background-color: transparent;
            font-size: 16px;
            font-weight: 500;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            /* text-align: center; */

        }

        .modes-options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 2px 4px;
            background-color: #A67847;
            z-index: 10;
            margin-top: 2px;
            border-radius: 4px;
            border: 0 !important;
            border-style: none !important;
            outline: 0 !important;
            outline: none !important;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
        }

        .modes-option-item {
            padding: 4px 8px;
            font-size: 14px;
            color: #492B11;
            cursor: pointer;
            user-select: none;
            transition: background-color 0.15s ease;
            border-radius: 4px;

        }

        .modes-option-item:hover {
            background-color: #492B11;
            color: rgb(255, 255, 255);
        }

        .modes-options.open {
            display: block;
        }

    }

    .pointer-none {
        pointer-events: none;
    }

    .volumeBox {
        position: absolute;
        /* left: -1%; */
        left: -3.5%;
        top: 89%;
        z-index: 6;
        height: 36px;
        width: 75px;
        border: 2px solid #301F10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 4px;
        background-color: #A67847;
        pointer-events: visible;

        .vol-Icons {
            font-size: 18px;
            color: #301F10;
            /* border: 1px solid black; */
            background-color: transparent;
            border: none;
            height: 100%;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }

        .voldivIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;

            .fullVol {
                font-size: 20px;
                display: flex;
            }

            .muteVol {
                font-size: 20px;
                display: none;
            }


            .d-none {
                display: none;
            }

            .d-visible {
                display: flex;
            }
        }

    }

    .volumeBox-toggle {
        left: -0.5% !important;
    }

    .volumeBox-none {
        display: none !important;
    }



    .hintBox {
        width: 160px;
        border-radius: 4px;
        overflow: hidden;
        padding: 5px 10px;
        position: absolute;
        right: 2%;
        z-index: 4;
        bottom: 3%;
        border: 1px solid white;
        background-color: transparent;
        pointer-events: none;

        .hintparagraph {
            font-size: 14px;
            font-weight: 600;
            color: black;
            text-shadow: 1px 1px 3px white;

            .bold {
                font-size: 16px;
                font-weight: 800;
                color: rgb(255, 49, 49);
            }
        }


    }

    .hintBox::before {
        content: " ";
        background-color: #e2f9ffef;
        height: 100%;
        width: 100%;
        z-index: -1;
        filter: blur(4px);
        border-radius: inherit;
        position: absolute;
        top: 0%;
        left: 0%;

    }


    .timeBoxMainDiv {
        height: 25px;
        width: 86px;
        cursor: pointer;
        position: absolute;
        left: 3%;
        top: 1%;
        border: 1.5px solid black;
        border-radius: 4px;
        z-index: 6;
        pointer-events: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        background-color: transparent;

        .timerBox {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;

            .timerGif {
                height: 20px;
                width: 20px;
            }

            .time {
                font-size: 14px;
                font-weight: 600;
                color: black;
            }

        }



        .dropdown {
            position: relative;
            display: inline-block;
            background-color: transparents;
        }

        .dropbtn {
            background-color: transparent;
            color: black;
            padding: 2px 4px;
            font-size: 11px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            left: 50%;
            transform: translate(-80%, 10%);
            width: 86px;
            border: 1.5px solid black;
            border-radius: 4px;
            padding: 4px;
            background-color: transparent;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                color: black;
                background-color: transparent;
                padding: 4px 6px;
                font-size: 14px;
                text-decoration: none;
                display: block;
                cursor: pointer;
                text-wrap: nowrap;
                width: 100%;
                border-radius: 4px;

            }

            span:hover {
                background-color: #cda781;
                color: white;

            }
        }

        .dropdown-content::before {
            content: " ";
            background-color: #e2f9ffef;
            height: 100%;
            width: 100%;
            z-index: -1;
            filter: blur(4px);
            border-radius: inherit;
            position: absolute;
            top: 0%;
            left: 0%;

        }

        .show {
            display: flex;
        }
    }

    .timeBoxMainDiv::before {
        content: " ";
        background-color: #e2f9ffef;
        height: 100%;
        width: 100%;
        z-index: -1;
        filter: blur(2px);
        border-radius: inherit;
        position: absolute;
        top: 0%;
        left: 0%;

    }

    .d-none {
        display: none !important;

    }

    .d-visible {
        display: flex !important;
    }

    .hangman-character-div {
        height: 250px;
        width: 170px;
        zoom: reset;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 65%;
        left: 31.7%;
        z-index: 4;
        pointer-events: none;

        .gamecharImg {
            height: 100%;
            width: 100%;
            object-fit: fill;

        }
    }

    .wordsKeyboard {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 68%;
        width: 500px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;

        .inputfielddivbox {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 12px 0px;
            position: relative;
            top: -6%;

            .inputField {
                pointer-events: none;
                user-select: none;
                height: 38px;
                width: 34px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 4px;
                background-color: #eefbff;
                box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.404);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                font-weight: 700;
                text-align: center;

            }

            .inputField:focus {
                outline-color: blue;
            }
        }

        .alphabetsRow {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px;

            .alphabets {
                pointer-events: visible;
                background-image: url('./Hangman_Game_Button.png');
                background-position: center;
                background-size: 100%, 100%;
                background-repeat: no-repeat;
                font-family: '3dFont';
                font-size: 22px;

                font-weight: 800;
                display: flex;
                user-select: none;
                justify-content: center;
                align-items: center;
                width: 48px;
                /* height: 38px; */
                color: white;
                /* border: 1px solid white; */
                border-radius: 8px;
                cursor: pointer;
                /* background-color: #ff6b5a; */
                /* box-shadow: 0px 0px 4px 0px rgba(241, 240, 240, 0.715); */
                filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.943));
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
                padding: 6px 0px;
                margin: 0;
            }



            .alphabets:hover {
                transform: scale(1.05);
            }

            .alphabets:active {
                color: #3ba801;
                transform: scale(1.01);


            }

            .enter {
                pointer-events: visible;
                width: 124px;
                background-image: url('./Enter_Hangman_Game_Button.png');
                background-position: center;
                background-size: 100%, 100%;
                background-repeat: no-repeat;
                font-family: '3dFont';
                font-size: 22px;
                font-weight: 800;
                display: flex;
                user-select: none;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 8px;
                cursor: pointer;
                filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.943));
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
                padding: 6px 0px;
                background-color: transparent;
                border: none;
                outline: none;
                margin: 0;
            }

            .enter:hover {
                transform: scale(1.05);
            }

            .enter:disabled {
                /* transform: scale(1.05); */
                pointer-events: none;
            }

            .enter:active {
                color: #3ba801;
                transform: scale(1.01);


            }

        }
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .main-container {
        height: max(100dvh, 600px);

        .hintBox {
            bottom: 40%;
            left: 3%;
            width: 150px;

            .hintparagraph {
                font-size: 14px;

            }


        }

        .modes-dropdown {
            /* top: 15.6%; */
            right: 5%;
        }

        .volumeBox {
            left: -4.8%;
        }

        .gif2 {
            top: 67%;
            left: 49%;
        }

        .cover {
            width: 60%;
        }

        @media screen and (min-width: 768px) and (max-width: 930px) {
            .trailsBox {
                left: 9.8%;
            }

            .modes-dropdown {
                /* top: 15.6%; */
                right: 4%;
            }

            .volumeBox {
                left: -5.8%;
            }
        }



        .dropdownBtnBox {
            right: 4%;
            padding: 0px 12px;

            #modesform {
                font-size: 10px;
                padding: 2px 12px;

            }
        }

        .hangman-character-div {

            top: 65%;
            left: 32.1%;
        }

        .wordsKeyboard {
            left: 72%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 6px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 34px;
                    width: 30px;
                    font-size: 22px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 20px;
                    font-weight: 700;
                    width: 42px;
                    padding: 3px 0px;

                }





                .enter {
                    width: 112px;

                }

            }
        }


    }


}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Hangman_Tablet_Responisve.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 990px);

        .trailsBox {
            top: 7.5%;
            left: 10.7%;
        }


        .modes-dropdown {
            top: 30.6%;
            right: 5%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .volumeBox {
            left: -6.4%;
        }

        .cover {
            width: 70%;
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
        }

        .dropdownBtnBox {
            top: 31%;
            right: 3%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 150px;
            left: 2%;
            bottom: 40%;

            .hintparagraph {
                font-size: 14px;

            }


        }

        .hangman-character-div {

            top: 40%;
            left: 51.7%;
            height: 300px;
            width: 200px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 40px;
                    width: 43px;
                    font-size: 22px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 20px;
                    font-weight: 600;
                    width: 45px;
                    padding: 8px 0px;

                }

                .enter {
                    width: 118px;

                }

            }
        }




    }


}

@media screen and (min-width: 460px) and (max-width: 576px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Mobile_View_Hangman_Background.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 800px);


        .trailsBox {
            top: 24%;
            left: 13.7%;
        }

        .hintBox {
            width: 150px;
            left: 2%;
            bottom: 40%;

            .hintparagraph {
                font-size: 14px;

            }


        }

        .modes-dropdown {
            top: 40.2%;
            right: 5%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .volumeBox {
            left: -8.7%;
        }

        .cover {
            width: 70%;

            .paragraph {

                font-size: 18px;
                font-weight: 500;
            }
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 65%;
            left: 73%;
        }

        .dropdownBtnBox {
            top: 40.5%;
            right: -2%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }




        .hangman-character-div {

            top: 43%;
            left: 53.8%;
            height: 270px;
            width: 160px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 50px;
                    width: 54px;
                    font-size: 22px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 20px;
                    font-weight: 600;
                    width: 45px;
                    padding: 8px 0px;

                }

                .enter {
                    width: 118px;

                }

            }
        }




    }

}

@media screen and (min-width: 390px) and (max-width: 460px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Mobile_View_Hangman_Background.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 800px);

        .notification {
            width: 80%;
            top: 15%;
            left: 50%;
            gap: 6px;
            padding: 22px 12px;
        }

        .trailsBox {
            top: 24%;
            left: 13.7%;
        }

        .cover {
            width: 90%;

            .paragraph {

                font-size: 18px;
                font-weight: 500;
            }
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
            display: none;
        }

        .dropdownBtnBox {
            top: 40.5%;
            right: -2%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 150px;
            left: 2%;
            bottom: 40%;

            .hintparagraph {
                font-size: 14px;

            }


        }

        .modes-dropdown {
            top: 40.2%;
            right: 3%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .volumeBox {
            left: -9.9%;
        }

        .hangman-character-div {

            top: 45%;
            /* top: calc(100dvh * 0.46); */

            left: 54.6%;
            height: 280px;
            width: 170px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 82%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;


                .inputField {
                    height: 40px;
                    width: 44px;
                    font-size: 20px;
                }

            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 18px;
                    font-weight: 600;
                    width: 39px;
                    padding: 8px 0px;

                }

                .enter {
                    width: 108px;

                }

            }
        }




    }

}

@media screen and (min-width: 200px) and (max-width: 390px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Mobile_View_Hangman_Background.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100vh, 800px);

        .notification {
            width: 80%;
            top: 15%;
            left: 50%;
            gap: 6px;
            padding: 22px 12px;
        }

        .trailsBox {
            top: 24%;
            left: 13.7%;
        }

        .cover {
            width: 90%;

            .paragraph {

                font-size: 18px;
                font-weight: 500;
            }
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
            display: none;
        }

        .dropdownBtnBox {
            top: 40.5%;
            right: -7%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 100px;
            left: 2%;
            bottom: 40%;

            .hintparagraph {
                font-size: 11px;

            }


        }

        .modes-dropdown {
            top: 40.2%;
            right: 0%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .volumeBox {
            left: -12.9%;
        }

        .hangman-character-div {

            top: 45%;
            left: 54.6%;
            height: 250px;
            width: 140px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 82%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 30px;
                    width: 34px;
                    font-size: 20px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 16px;
                    font-weight: 600;
                    width: 32px;
                    padding: 6px 4px;

                }

                .enter {
                    width: 90px;

                }

            }
        }




    }

}


/* media queries for specific devices  strickly  */

@media only screen and (width: 820px) and (height: 1180px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Hangman_Tablet_Responisve.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 990px);

        .modes-dropdown {
            top: 31.2%;
            right: 7%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .trailsBox {
            top: 7.5%;
            left: 10.7%;
        }

        .cover {
            width: 70%;
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
        }

        .dropdownBtnBox {
            top: 31%;
            right: 3%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 160px;

            .hintparagraph {
                font-size: 18px;

            }


        }

        .hangman-character-div {

            top: 40%;
            left: 52%;
            height: 400px;
            width: 300px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 50px;
                    width: 53px;
                    font-size: 24px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 22px;
                    font-weight: 600;
                    width: 55px;
                    padding: 8px 4px;

                }

                .enter {
                    width: 120px;

                }

            }
        }






    }
}

@media only screen and (width: 1024px) and (height: 1366px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Hangman_Tablet_Responisve.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 990px);

        .modes-dropdown {
            top: 31.2%;
            right: 7%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .trailsBox {
            top: 7.5%;
            left: 10.7%;
        }

        .cover {
            width: 70%;
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
        }

        .dropdownBtnBox {
            top: 31%;
            right: 3%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 160px;

            .hintparagraph {
                font-size: 18px;

            }


        }

        .hangman-character-div {

            top: 40%;
            left: 52%;
            height: 400px;
            width: 300px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 50px;
                    width: 53px;
                    font-size: 24px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 22px;
                    font-weight: 600;
                    width: 55px;
                    padding: 8px 4px;

                }

                .enter {
                    width: 120px;

                }

            }
        }




    }
}

@media only screen and (width: 912px) and (height: 1368px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Hangman_Tablet_Responisve.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 990px);

        .modes-dropdown {
            top: 31.2%;
            right: 7%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .trailsBox {
            top: 7.5%;
            left: 10.7%;
        }

        .cover {
            width: 70%;
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
        }

        .dropdownBtnBox {
            top: 31%;
            right: 3%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 160px;

            .hintparagraph {
                font-size: 18px;

            }


        }

        .hangman-character-div {

            top: 40%;
            left: 52%;
            height: 400px;
            width: 300px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 50px;
                    width: 53px;
                    font-size: 24px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 22px;
                    font-weight: 600;
                    width: 55px;
                    padding: 8px 4px;

                }

                .enter {
                    width: 120px;

                }

            }
        }




    }
}

@media only screen and (width<=854px) and (height: 1280px) {

    .main-container {
        background-size: 100% 100%;
        background-image: url('./Hangman_Tablet_Responisve.png');
        background-position: center;
        background-repeat: no-repeat;
        height: max(100dvh, 990px);

        .trailsBox {
            top: 7.5%;
            left: 10.7%;
        }

        .modes-dropdown {
            top: 31.2%;
            right: 7%;
        }

        .timeBoxMainDiv {

            top: 2%;
            left: auto;
            right: 4% !important;
        }

        .cover {
            width: 70%;
        }

        .gif1 {
            top: 75%;
            left: 10%;
        }

        .gif2 {
            top: 59%;
            left: 80%;
        }

        .dropdownBtnBox {
            top: 31%;
            right: 3%;

            #modesform {
                font-size: 18px;
            }
        }

        .trees-box {
            display: none;

        }

        .cloudBox {
            display: none;
        }


        .hintBox {
            width: 160px;

            .hintparagraph {
                font-size: 18px;

            }


        }

        .hangman-character-div {

            top: 40%;
            left: 52%;
            height: 400px;
            width: 300px;
        }

        .wordsKeyboard {
            left: 50%;
            top: 85%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 3px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 50px;
                    width: 53px;
                    font-size: 24px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 22px;
                    font-weight: 600;
                    width: 55px;
                    padding: 8px 4px;

                }

                .enter {
                    width: 120px;

                }

            }
        }




    }
}

@media only screen and (width<=1280px) and (height: 800px) {
    .main-container {

        /* height: 100vh; */
        height: max(100dvh, 600px);

        .hintBox {
            width: 150px;

            .hintparagraph {
                font-size: 14px;

            }


        }

        .gif2 {
            top: 70%;
            left: 49%;
        }

        .cover {
            width: 60%;
        }

        @media screen and (min-width: 768px) and (max-width: 930px) {
            .trailsBox {
                left: 9.8%;
            }
        }



        .dropdownBtnBox {
            right: 4%;
            padding: 0px 12px;

            #modesform {
                font-size: 10px;
                padding: 2px 12px;

            }
        }

        .hangman-character-div {

            top: 65%;
            left: 32.1%;
            height: 350px;
            width: 270px;
        }

        .wordsKeyboard {
            left: 72%;
            gap: 4px;

            .inputfielddivbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                padding: 6px 0px;
                position: relative;
                top: -6%;

                .inputField {
                    height: 34px;
                    width: 30px;
                    font-size: 22px;
                }
            }

            .alphabetsRow {
                gap: 0px;

                .alphabets {
                    font-size: 20px;
                    font-weight: 700;
                    width: 42px;
                    padding: 3px 0px;

                }





                .enter {
                    width: 112px;

                }

            }
        }


    }

}



@keyframes floatLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes floatUpAndFade {
    0% {
        opacity: 0;
        transform: translate(200%, 0) scale(0.5);
    }

    20% {
        opacity: 1;
        transform: translate(200%, -20px) scale(1.2);
    }

    30% {
        opacity: 1;
        transform: translate(200%, -20px) scale(1.2);
    }

    100% {
        opacity: 0;
        transform: translate(200%, -100px) scale(1);
    }
}